@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: #292933;
  overflow: hidden;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: white;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #8d8da0;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #46465b;
}

@layer components {
  .btn-navbar {
    -webkit-appearance: none;
    appearance: none;
    border-radius: 0;
    @apply border text-sm bg-main-light hover:bg-main-dark-b text-white px-3 h-[70%] my-auto leading-8 transition-colors rounded select-none;
  }
  .btn-navbar-active {
    -webkit-appearance: none;
    appearance: none;
    border-radius: 0;
    @apply border text-sm bg-secondary-light text-white px-3 h-[70%] my-auto leading-8 rounded select-none;
  }
  .btn-mobile-menu {
    @apply text-sm hover:bg-main-dark-b w-[98%] ml-[1%] absolute left-0 py-2 text-white transition-colors select-none;
  }
  .btn-desktp-menu {
    -webkit-appearance: none;
    appearance: none;
    border-radius: 0;
    @apply flex flex-col h-[100px] md:h-[150px] justify-center border border-white text-sm md:text-2xl bg-main-light hover:bg-main-dark-b text-secondary-light-b py-3 md:py-6 opacity-90 transition-colors rounded-lg text-center w-52 md:w-60;
  }
  .btn-confirm {
    @apply text-secondary-light hover:text-secondary-light-b hover:cursor-pointer transition-colors select-none;
  }
  .btn-confirm-alternate {
    @apply text-secondary-alt hover:text-secondary-alt-b hover:cursor-pointer transition-colors select-none;
  }
  .btn-disabled {
    @apply text-white bg-secondary-light hover:cursor-default border border-white px-2 py-1 text-sm opacity-70 rounded select-none;
  }
  .btn-create {
    -webkit-appearance: none;
    appearance: none;
    border-radius: 0;
    @apply text-white bg-secondary-light hover:bg-secondary-light-b hover:cursor-pointer transition-colors border border-white px-2 py-1 text-sm rounded select-none;
  }
  .btn-create-alternate {
    @apply text-white bg-secondary-alt hover:bg-secondary-alt-b hover:cursor-pointer transition-colors border border-white px-2 py-1 text-sm rounded select-none;
  }
  .btn-cancel {
    @apply text-alert hover:text-alert-b hover:cursor-pointer transition-colors select-none;
  }
  .btn-add {
    @apply text-secondary-light hover:text-secondary-light-b hover:cursor-pointer transition-colors select-none;
  }
  .btn-remove {
    @apply text-white bg-alert hover:bg-alert-b hover:cursor-pointer transition-colors border border-white px-2 py-1 text-sm rounded select-none;
  }
  .btn-edit {
    @apply text-secondary-light hover:text-secondary-light-b hover:cursor-pointer hover:transition-colors select-none;
  }
  .btn-delete {
    @apply text-alert hover:text-alert-b hover:cursor-pointer hover:transition-colors select-none;
  }

  .loading {
    @apply w-[50px] h-[50px] rounded-[50%] border-8 border-main-light border-r-secondary-alt-b border-l-secondary-alt-b animate-spin;
  }
}
